/*
  midnight-red - https://github.com/node-red-contrib-themes/midnight-red
*/

.red-ui-editor {
  scrollbar-color: #999 #3E424B;
  scrollbar-width: initial;
}

::-webkit-scrollbar {
  width: initial;
}

::-webkit-scrollbar-corner {
  background-color: #3E424B;
}

::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 20px;
  border: 3px solid #3E424B;
}

::-webkit-scrollbar-track {
  background-color: #3E424B;
}
