/*
* ace-tomorrow - modified from https://github.com/ajaxorg/ace/blob/master/lib/ace/theme/tomorrow_night_bright.css
*/
.ace-tomorrow .ace_gutter {
  background: #1a1a1a;
  color: #DEDEDE
}

.ace-tomorrow .ace_print-margin {
  width: 1px;
  background: #1a1a1a
}

.ace-tomorrow {
  background-color: #000000;
  color: #DEDEDE
}

.ace-tomorrow .ace_cursor {
  color: #9F9F9F
}

.ace-tomorrow .ace_marker-layer .ace_selection {
  background: #424242
}

.ace-tomorrow.ace_multiselect .ace_selection.ace_start {
  box-shadow: 0 0 3px 0px #000000;
}

.ace-tomorrow .ace_marker-layer .ace_step {
  background: rgb(102, 82, 0)
}

.ace-tomorrow .ace_marker-layer .ace_bracket {
  margin: -1px 0 0 -1px;
  border: 1px solid #888888
}

.ace-tomorrow .ace_marker-layer .ace_highlight {
  border: 1px solid rgb(110, 119, 0);
  border-bottom: 0;
  box-shadow: inset 0 -1px rgb(110, 119, 0);
  margin: -1px 0 0 -1px;
  background: rgba(255, 235, 0, 0.1)
}

.ace-tomorrow .ace_marker-layer .ace_active-line {
  background: #2A2A2A
}

.ace-tomorrow .ace_gutter-active-line {
  background-color: #2A2A2A
}

.ace-tomorrow .ace_stack {
  background-color: rgb(66, 90, 44)
}

.ace-tomorrow .ace_marker-layer .ace_selected-word {
  border: 1px solid #888888
}

.ace-tomorrow .ace_invisible {
  color: #343434
}

.ace-tomorrow .ace_keyword,
.ace-tomorrow .ace_meta,
.ace-tomorrow .ace_storage,
.ace-tomorrow .ace_storage.ace_type,
.ace-tomorrow .ace_support.ace_type {
  color: #C397D8
}

.ace-tomorrow .ace_keyword.ace_operator {
  color: #70C0B1
}

.ace-tomorrow .ace_constant.ace_character,
.ace-tomorrow .ace_constant.ace_language,
.ace-tomorrow .ace_constant.ace_numeric,
.ace-tomorrow .ace_keyword.ace_other.ace_unit,
.ace-tomorrow .ace_support.ace_constant,
.ace-tomorrow .ace_variable.ace_parameter {
  color: #E78C45
}

.ace-tomorrow .ace_constant.ace_other {
  color: #EEEEEE
}

.ace-tomorrow .ace_invalid {
  color: #CED2CF;
  background-color: #DF5F5F
}

.ace-tomorrow .ace_invalid.ace_deprecated {
  color: #CED2CF;
  background-color: #B798BF
}

.ace-tomorrow .ace_fold {
  background-color: #7AA6DA;
  border-color: #DEDEDE
}

.ace-tomorrow .ace_entity.ace_name.ace_function,
.ace-tomorrow .ace_support.ace_function,
.ace-tomorrow .ace_variable {
  color: #7AA6DA
}

.ace-tomorrow .ace_support.ace_class,
.ace-tomorrow .ace_support.ace_type {
  color: #E7C547
}

.ace-tomorrow .ace_heading,
.ace-tomorrow .ace_markup.ace_heading,
.ace-tomorrow .ace_string {
  color: #B9CA4A
}

.ace-tomorrow .ace_entity.ace_name.ace_tag,
.ace-tomorrow .ace_entity.ace_other.ace_attribute-name,
.ace-tomorrow .ace_meta.ace_tag,
.ace-tomorrow .ace_string.ace_regexp,
.ace-tomorrow .ace_variable {
  color: #D54E53
}

.ace-tomorrow .ace_comment {
  color: #969896
}

.ace-tomorrow .ace_c9searchresults.ace_keyword {
  color: #C2C280
}

.ace-tomorrow .ace_indent-guide {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEklEQVQImWNgYGBgYFBXV/8PAAJoAXX4kT2EAAAAAElFTkSuQmCC) right repeat-y
}

/*
* Node-RED Dashboard
*/
.nr-db-sb-group-list li {
  border-bottom-color: #434954 !important;
}

.nr-db-sb-list-handle {
  color: #DDD !important;
}

.nr-db-sb-list-header,
.nr-db-sb-tab-list-item {
  color: #DDD !important;
}

.nr-db-sb-list-header:hover,
.nr-db-sb-group-list-header:hover,
.nr-db-sb-widget-list-header:hover {
  background-color: #383C45 !important;
  color: #DDD !important;
}

.nr-db-sb-tab-list-header {
  background-color: #434954 !important;
}

/*
* Grip on separators
*/
.red-ui-panels-separator {
  border-top-color: #2C3138;
  border-bottom-color: #2C3138;
  background: #383C45 url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAFCAYAAAAHQL+kAAAAIUlEQVQ4T2NkGCaA8cyZM/+Hg19GPTLYYpFxsDmIXPcAAOVUCi+nYDK3AAAAAElFTkSuQmCC") no-repeat 50% 50%;
}

.red-ui-panels.red-ui-panels-horizontal>.red-ui-panels-separator {
  background: #383C45 url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAyAQMAAACu3oOzAAAAAXNSR0IB2cksfwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAZQTFRFAAAAqqqqE2N/7AAAAAJ0Uk5TAP9bkSK1AAAADUlEQVR4nGMoYKA5BABGYBXhGD2hFwAAAABJRU5ErkJggg==") no-repeat 50% 50%;
  border-left-color: #2C3138;
  border-right-color: #2C3138;
}

#red-ui-sidebar-separator {
  background: #383C45 url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAyAQMAAACu3oOzAAAAAXNSR0IB2cksfwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAZQTFRFAAAAqqqqE2N/7AAAAAJ0Uk5TAP9bkSK1AAAADUlEQVR4nGMoYKA5BABGYBXhGD2hFwAAAABJRU5ErkJggg==") no-repeat 50% 50%;
}

.red-ui-tray-resize-handle {
  background: #383C45 url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAyAQMAAACu3oOzAAAAAXNSR0IB2cksfwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAZQTFRFAAAAqqqqE2N/7AAAAAJ0Uk5TAP9bkSK1AAAADUlEQVR4nGMoYKA5BABGYBXhGD2hFwAAAABJRU5ErkJggg==") no-repeat 50% 50%;
  border-left-color: #2E333A;
}

/*
* typedInput
*/
.red-ui-typedInput-options img {
  filter: brightness(0) saturate(100%) invert(91%) sepia(0%) saturate(309%) hue-rotate(170deg) brightness(103%) contrast(85%);
}

button.red-ui-typedInput-type-select .red-ui-typedInput-type-label img,
button.red-ui-typedInput-type-select .red-ui-typedInput-option-label img,
button.red-ui-typedInput-option-expand .red-ui-typedInput-type-label img,
button.red-ui-typedInput-option-expand .red-ui-typedInput-option-label img,
button.red-ui-typedInput-option-trigger .red-ui-typedInput-type-label img,
button.red-ui-typedInput-option-trigger .red-ui-typedInput-option-label img {
  filter: brightness(0) saturate(100%) invert(91%) sepia(0%) saturate(309%) hue-rotate(170deg) brightness(103%) contrast(85%);
}

/*
* SVG images
*/
.red-ui-tabs ul li.active img.red-ui-tab-icon {
  filter: brightness(0) saturate(100%) invert(91%) sepia(0%) saturate(309%) hue-rotate(170deg) brightness(103%) contrast(85%);
}

/*
* jQuery ui widgets
*/
.ui-widget.ui-widget-content {
  border-color: #2D3239;
}

.ui-widget-content {
  border-color: #2D3239;
  background: #434954;
  color: #DDD;
}

/*
* RPi GPIO - https://github.com/node-red-contrib-themes/midnight-red/pull/15
*/
.rpi-gpio-pinTable {
  color: #555;
}

/* 
* Config nodes
*/
ul.red-ui-sidebar-node-config-list .red-ui-palette-label {
  color: #BBB;
}

ul.red-ui-sidebar-node-config-list .red-ui-palette-node {
  border-color: #2E333A;
}