---
name: NPM Publish

on:
  workflow_dispatch:
  push:
    branches:
      - master
    paths:
      - "package.json"

jobs:
  npm-publish:
    name: npm-publish
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3.1.0
        with:
          node-version: '16.x'

      - name: npm publish
        uses: JS-DevTools/npm-publish@v1.0.0
        with:
          token: ${{ secrets.NPM_TOKEN }}